.t-title-seven {
  --f-sz: 5.6rem;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #a32dff, #f41e92);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: var(--f-sz);
  font-weight: 700;
}

.sta-icon {
  align-items: center;
  background: #f2e7fa;
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  height: 5.6rem;
  justify-content: center;
  position: relative;
  width: 5.6rem;
}

.dab-course-block {
  align-items: center;
  background: linear-gradient(180deg, #7c0fd1 -14.06%, #f64ba8 117.19%);
  border-radius: 1.6rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  display: flex;
  gap: 2.4rem;
  height: 100%;
  padding: 2.4rem;
}

.dab-course-item:nth-child(2) .dab-course-block {
  background: linear-gradient(180deg, #1ec0f2 36%, #2686ec);
}

.dab-course-block .sta-icon:before {
  animation: aniNoteCircle-cus 1.6s ease-in-out infinite;
  background-color: #fff;
  border-radius: 100%;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@keyframes aniNoteCircle-cus {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}

.dab-course-block .sta-icon:after {
  background: #fff;
}

.sta-icon:after {
  background: #7c0fd1;
  border-radius: 100%;
  content: '';
  height: calc(100% - 0.8rem);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 0.8rem);
}

.dab-course-block .sta-icon img {
  border-radius: unset;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 50%;
  z-index: 1;
}

.row:not(.swiper) {
  display: flex;
}

.dab-course-item {
  width: 50%;
}

.col {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem;
  width: 100%;
}

.t-four {
  --f-sz: 1.8rem;
  font-size: var(--f-sz);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.dab-course-tt .data-curr {
  --f-sz: 4.8rem;
  font-size: var(--f-sz);
  font-weight: 700;
  line-height: 90%;
}

.t-third {
  --f-sz: 2.4rem;
  font-size: var(--f-sz);
  font-weight: 600;
}

.prf-group-hd .cnc-item {
  --pd: 0.6rem;
  --pd-right: 2rem;
  --fz: 1.4rem;
  --gap: 0.8rem;
  --sz-ic: 4.8rem;
  flex: unset;
  max-width: 26.4rem;
  width: 100%;
}

.cnc-item.--face {
  background-color: #1976d2;
}
.cnc-item {
  align-items: center;
  border-radius: 100rem;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: var(--fz);
  padding: var(--pd);
  padding-right: var(--pd-right);
}
.cnc-item,
.cnc-list {
  display: flex;
  gap: 0.8rem;
}

.prf-group-hd {
  --h-input: 4.4rem;
  --h-input-2: 4.4rem;
  align-items: center;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.6rem;
}

.cnc-item .ic:before {
  border: 0.1rem solid hsla(0, 0%, 100%, 0.4);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.cnc-item .ic {
  align-items: center;
  background-color: rgba(58, 58, 58, 0.2);
  border-radius: 100rem;
  display: flex;
  flex-shrink: 0;
  height: 4.8rem;
  justify-content: center;
  position: relative;
  width: 4.8rem;
  z-index: 2;
}

.prf-benefit-block .img-logo {
  height: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 16.2rem;
}

.prf-group {
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
  margin-top: 2.4rem;
  padding: 2.4rem;
}

.cp-code {
  background: #f4f5f8;
  border-radius: 0.8rem;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  padding: 0 1.6rem;
  position: relative;
}

.cp-code .code {
  word-break: break-all;
}

.cp-code .copy-sp {
  border: 0.1rem dashed #7c0fd1;
  border-radius: 0 0.8rem;
  font-weight: 400;
  padding: 0.8rem 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: -moz-fit-content;
  width: fit-content;
}

.copy-sp {
  align-items: center;
  background: #f2e7fa;
  border: 1px dashed #7c0fd1;
  border-radius: 4px;
  color: #7c0fd1;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.8rem;
  justify-content: center;
  line-height: 140%;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
}

.copy-sp img {
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.3s;
  width: 2.4rem;
}

.prf-instr-video {
  background-color: #7c0fd1;
  border: 0.3rem solid #7c0fd1;
  border-radius: 0.8rem;
  height: inherit;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.prf-instr-thumbn {
  display: block;
  height: auto;
  padding-top: 56.3025210084%;
  position: relative;
  width: 100%;
}

.prf-instr-thumbn img {
  border-radius: unset;
  height: 100%;
  left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.prf-instr-video .btn-ctrl-play .icon-play {
  height: 3.2rem;
  width: 3.2rem;
  display: block;
}

.prf-instr-video .btn-ctrl-play {
  height: 6.4rem;
  width: 6.4rem;
}

.btn-ctrl-play {
  align-items: center;
  background: #f41e92;
  border-radius: 100%;
  display: flex;
  height: 6.6rem;
  justify-content: center;
  width: 6.6rem;
}

.banner-video .video-source,
.btn-ctrl-play {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prf-group-empty {
  align-items: center;
  color: #616161;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.8rem;
  justify-content: center;
  line-height: 140%;
  margin-top: 2.4rem;
  text-align: center;
}

.prf-group-empty .img-aff-empty {
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  width: 19.2156862745%;
}

.prf-social-act .note {
  --f-sz: 1.4rem;
  align-items: center;
  color: #f5851e;
  display: flex;
  font-size: 1.4rem;
  gap: 0.8rem;
  line-height: 2rem;
  margin-bottom: 0.4rem;
}

.btn.--third {
  background-color: transparent;
  border: 0.1rem solid #7c0fd1;
  color: #7c0fd1;
}

.btn.--third:hover {
  background-color: #7c0fd1;
  color: #fff;
}

.mb-dx {
  align-items: center;
  background-color: rgba(240, 68, 56, 0.1);
  border-radius: 0.4rem;
  color: #f04438;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 1rem;
  height: 4.4rem;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

.mb-dx img {
  flex-shrink: 0;
  width: 1.6rem;
  height: auto;
}

.col {
  margin-bottom: var(--rg);
  padding: 0 calc(var(--cg) / 2);
  width: 100%;
}

.dab-course-list {
  --cg: 2.4rem;
  --rg: 2.4rem;
}

@media screen and (max-width: 600px) {
  .prf-group-hd .cnc-item {
    --fz: 1rem;
    --sz-ic: 3.6rem;
    --pd-right: .8rem;
    max-width: unset;
    min-width: 15rem;
  }

  .prf-group-hd .t-third {
    font-size: 1.6rem;
    line-height: 130%;
  }

  .prf-group-hd {
    --h-input: 4rem;
    --h-input-2: 4rem;
  }

  .dab-course-block {
    border-radius: .8rem;
    gap: .8rem;
    padding: .8rem;
  }

  .dab-course-block .sta-icon {
    height: 3.6rem;
    width: 3.6rem;
  }

  .dab-course-tt .t-four {
    font-size: 1.2rem;
  }

  .dab-course-tt .data-num {
    --f-sz: 1.7rem;
  }

  .dab-course-tt .data-curr {
    font-size: 3.2rem;
  }

  .dab-course-list {
    --cg: 1.6rem;
    --rg: 1.6rem;
  }
  .ticker-kh {
    width: 12rem;
  }
  .t-third {
    --f-sz: 1.7rem;
  }
  .cp-code {
    font-size: 1rem;
  }
  .cp-code .copy-sp {
    font-size: 1.2rem;
    gap: .4rem;
    padding: .4rem .8rem;
  }
  .prf-instr-right {
    width: 100%;
  }
  .copy-sp img {
    width: 1.8rem;
  }
  .t-title-seven {
    --f-sz: 6.48148vw;
  }
  .t-four {
    --f-sz: 1.5rem;
  }
}